<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@

    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9782bb68c9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <nav class="navbar-expand navbar-dark bg-dark fixed-top" role="navigation">
            <div class="">
                <div class="navbar-header">
                    <button class="navbar-toggler flex-grow-1" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="container">
                    <ul class="nav navbar-nav justify-content-between">
                        <li class="p-2"><a class="btn text-white" asp-controller="Home" asp-action="Index"><div class="fas fa-home"></div> Home</a></li>
                        <li class="p-2 dropdown">
                            <a id="piesDropdown" class="btn text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pies</a>
                            <div class="dropdown-menu" aria-labelledby="piesDropdown">
                                <a class="p-2 dropdown-item" asp-controller="Pie" asp-action="List">All Pies</a>
                                @await Component.InvokeAsync("CategoryMenu")
                            </div>
                        </li>
                        <li class="p-2"><a class="btn text-white" asp-controller="Contact" asp-action="Index">Contact</a></li>
                        <partial name="_LoginPartial" />
                        <span class="p-2">
                            <a class="btn text-white" asp-controller="ShoppingCart" asp-action="Index">
                                <!-- Invoke the View Component -->
                                @await Component.InvokeAsync("ShoppingCartSummary")
                            </a>
                        </span>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-sm-3">
                <p class="lead">
                    <img class="img-fluid" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" />
                </p>
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
