<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9782bb68c9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-dark bg-dark fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggler flex-grow-1" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--<a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="Index">
                        Shopping Cart
                    </a>-->
                </div>
                <div>
                    <a asp-controller="ShoppingCart" asp-action="Index">
                        <!-- Invoke the View Component -->
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="p-2"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="p-2"><a asp-controller="Pie" asp-action="List">Pies</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-sm-3">
                <p class="lead">
                    <img class="img-fluid" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" />
                </p>
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</body>
</html>
