@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BethanysPieShop.ViewModels.PiesListViewModel
<html>
    <body>
        <h1>
            @Model.CurrentCategory
        </h1>
        @foreach (var pie in Model.Pies)
        {
            <div>
                <h2>@pie.Name</h2>
                <h3>@pie.Price.ToString("c")</h3>
                <h4>@pie.Category.CategoryName</h4>
            </div>
        }
    </body>
</html>