@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PiesListViewModel

<h1>
    @Model.CurrentCategory
</h1>
@foreach (var pie in Model.Pies)
{
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">@pie.Name</h2>
            <h3 class="card-subtitle">@pie.Price.ToString("c")</h3>
            <h4 class="card-text">@pie.Category.CategoryName</h4>
            <button class="btn btn-primary">View Cake</button>
        </div>
    </div>
}